main {
  padding-top: 100px;
  background-color: var(--white);

  .hero {
    width: 100%;
    position: relative;
    height: 51vh;
    background-color: var(--light);
    @media(max-width: 480px){
      height: 42vh;
    }
  
    &_bg {
      height: 50vh;
      @media(max-width: 480px){
        height: 40vh;
      }
    }
  }
}
.well {
  @media(min-width: 1400px){
    padding-bottom: 6rem;
  }
  // About
  .about {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    @media(max-width: 768px){
      grid-template-columns: 1fr;
    }
  
    &__image {
      position: relative;
  
      .well-image {
        margin-top: -120px;
        background-color: var(--light);
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 0.6rem;
        

        &_bg {
          height: 400px;
          @media(max-width: 480px){
            height: 200px;
          }
        }
      }
    }

    &__description p, h4 {
      margin-bottom: 0.6rem;
    }

    &__description h4 {
      font-size: 1.2rem;
    }
  }

}

.gallery {
  background-color: var(--light);
}
