.section-contact {

  .contact-box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .contact {
      width: 100%;
      padding: 1rem 0;
      background-color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.2rem;
      }

      &__address, &__hours, &__tel, &__email {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
      }

      &__email {
        margin-bottom: 0;

        a {
          color: #000000;
        }
      }

      &__pos {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

footer {
  background-color: var(--dark);
  padding: 2rem;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 480px){
      flex-direction: column;
    }
    
    p {
      color: var(--white);
      @media(max-width: 480px){
        font-size: 0.8rem;
        margin-bottom: 0.4rem;
      }
    }

    ul {
      display: flex;
      flex-direction: row;

      li {
        margin-right: 0.6rem;
        &:nth-child(2) {
          margin-right: 0;
        }

        a {
          color: var(--white);
          font-size: 1rem;
          @media(max-width: 480px){
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}